# Discord Authentication Token
BOT_TOKEN={YOUR_BOT_TOKEN_HERE}

# PostgreSQL Database Connection URL
PG_URL={YOUR_POSTGRESQL_DATABASE_URL_HERE}

# Sentry DSN for error tracking.
SENTRY_DSN={YOUR_SENTRY_DSN_HERE}

# OpenAI API key for AI features.
OPENAI_API_KEY={YOUR_OPENAI_API_KEY_HERE}