# Discord Authentication Token
BOT_TOKEN={YOUR_BOT_TOKEN_HERE}

# PostgreSQL Database Connection URL
PG_URL={YOUR_POSTGRESQL_DATABASE_URL_HERE}

# Upstash REST Redis URL and Token
UPSTASH_REDIS_REST_URL={YOUR_UPSTASH_REDIS_REST_URL_HERE}
UPSTASH_REDIS_REST_TOKEN={YOUR_UPSTASH_REDIS_REST_TOKEN_HERE}

# Sentry DSN for error tracking.
SENTRY_DSN={YOUR_SENTRY_DSN_HERE}