# Discord Authentication Token
BOT_TOKEN={YOUR_BOT_TOKEN_HERE}

# PostgreSQL Database Connection URL
PG_URL={YOUR_POSTGRESQL_DATABASE_URL_HERE}

# Sentry DSN for error tracking.
SENTRY_DSN={YOUR_SENTRY_DSN_HERE}

# OpenAI API key for AI features.
OPENAI_API_KEY={YOUR_OPENAI_API_KEY_HERE}

# 32+ character string for tRPC authentication. Should be the same as in the dashboard .env file.
TRPC_SECRET={YOUR_TRPC_SECRET_HERE}

# Port for the tRPC server to listen on.
TRPC_PORT={YOUR_TRPC_PORT_HERE}

# Dashboard origin for CORS. Should match the PUBLIC_BASE_URL in the dashboard .env file.
DASHBOARD_ORIGIN={YOUR_DASHBOARD_ORIGIN_HERE}