# Database
DATABASE_URL=<DATABASE_URL>

JWT_SECRET=<JWT_SECRET>
JWT_EXPIRES_IN=<JWT_EXPIRES_IN>
# Discord
DISCORD_CLIENT_ID=<DISCORD_CLIENT_ID>
DISCORD_CLIENT_SECRET=<DISCORD_CLIENT_SECRET>
DISCORD_REDIRECT_URI=<DISCORD_REDIRECT_URI>
BOT_TOKEN=<BOT_TOKEN>
# Server
PORT=<PORT>
CORS_ORIGIN=<CORS_ORIGIN>
