# Discord Client ID.
DISCORD_CLIENT_ID={your_discord_client_id_here}

# Discord Client secret.
DISCORD_CLIENT_SECRET={your_discord_client_secret_here}

# PostgreSQL connection URL.
PG_URL={your_postgresql_connection_url_here}

# The base URL of the dashboard. E.g http://localhost:5173 or https://yourdomain.com
PUBLIC_BASE_URL={your_public_base_url_here}

# 32+ character string for session secret.
SESSION_SECRET={your_session_secret_here}

# 32+ character string for encryption key.
ENCRYPTION_KEY={your_encryption_key_here}